.btn-photo:hover {
  background-color: rgb(123, 71, 245);
  color: black;
}
.btn {
  background-color: #00152d;
padding: 0.4rem 0.8rem;
box-sizing: border-box;
  border-radius: 10px;
}
.btn-login {
  z-index: 2;
  font-size: 20px;
  width: 30%;
  margin: 1rem;
margin-bottom: 0rem;
  padding: 1rem;
  box-sizing: content-box;
}
.btn:hover {
  background-color: #0090ff;
  color: white;
}
.btn-delete {
  background-color: rgb(26, 3, 12);
  color: aqua;
}

/* .btn-addcontact {
  margin-bottom: 3rem;
  margin-left: 4rem;
} */

/* .ant-btn-primary {
  background-color: #00152d;
  border-radius: 8px;
}
.ant-btn-default {
  border-radius: 10px;
  border: 2px solid #00152d;
} */



.ant-btn {
  height: auto;
}
