.form {
  margin: 2rem 1rem;
  /* align-items: left; */
  display: flex;
  flex-direction: column;
}
.form-container{
  display: flex;
  justify-content: center;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: space-around;
}
.form-wholefield {
  display: flex;
  justify-content: space-around;
}
.form-input {
  width: 100%;
  border-radius: 10px;
}
.form-container2{
  margin: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-single{
  display: flex;
  justify-content: right;
  width: 100%;

}
.form-input2 {
  width: 100%;
  border-radius: 10px;
  margin:0rem 1rem;
  justify-self: left;
}

.ant-input-suffix {
  margin-left: 4px;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.form-button-register{
  display: flex;
  justify-content: center;
}