.form {
  margin: 2rem 1rem;
  /* align-items: left; */
  display: flex;
  flex-direction: column;
}
.form-container{
  display: flex;
  justify-content: center;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: space-around;
}
.form-wholefield {
  display: flex;
  justify-self: right;

}

.form-input {
  width: 100%;
  border-radius: 10px;
}
.form-input-half {
  width: 110%;
  border-radius: 10px;
}
.form-input-switch {
  width: 10%;
  margin-left:2rem;
}
.ant-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  width: 100%;
}
.form-container2{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-antd-form{
  display: flex;
  flex-direction: column;
  width: 35%;
}
.form-single{
  display: flex;
  justify-content: left;
  width: 100%;
}
.form-input2 {
  border-radius: 10px;
  width: 100%;
}

.ant-input-suffix {
  margin-left: 4px;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.form-button-register{
  display: flex;
  justify-content: center;
  justify-self: center;
  text-align: center;
}