.table-contact {
  display: flex;
  font-size: 20px;
  color: black;
  justify-self: center;

  align-items: center;
  justify-content: center;
  margin: 1rem;
  display: flex;
  gap: 2rem;
}

.dropdown-menu {
  display: flex;
  align-items: right;
  justify-content: right;
}

.dropdown-title {
  color: rgb(199, 24, 91);
  font-size: 18px;
}
tr:hover,
thead:hover {
  background: #1fcdd3 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}
