@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-name {
  text-align: center;
  color: brown;
  font-size: 30px;
  padding: 2rem;
}
.app-body {
  /* display: block; */
  background-color: rgb(137, 240, 153);
}
.navbar {
  background-color: rgb(76, 233, 100);

  display: flex;
  font-size: 20px;
  color: black;
  justify-self: center;

  align-items: center;
  justify-content: center;
  margin: 1rem;
  display: flex;
  gap: 2rem;
}
* {
  margin: 0rem;
  padding: 0rem;
}
body {
  background-color: blue;
}
.navbar :hover {
  background-color: rgb(199, 158, 158);
}
.btn {
  padding: 3rem;
  margin: 0rem 2rem;
}
.hyperlink {
  color: blue;
  text-decoration: underline;
}
.img-avatar {
  width: 15%;
  border-radius: 80%;
  text-align: center;
  margin: 1rem;
}
.center {
  text-align: center;
}
.img-avatar-table {
  width: 30%;
  border-radius: 80%;
  text-align: center;
  margin: 0rem;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  position: relative;
  padding: 8px 4px;
  overflow-wrap: break-word;
}

.table-contact {
  display: flex;
  font-size: 20px;
  color: black;
  justify-self: center;

  align-items: center;
  justify-content: center;
  margin: 1rem;
  display: flex;
  gap: 2rem;
}

.dropdown-menu {
  display: flex;
  align-items: right;
  justify-content: right;
}

.dropdown-title {
  color: rgb(199, 24, 91);
  font-size: 18px;
}
